{% extends 'layout.html' %}
     
{% block body %}

    <!-- Login-->
	<main>
		<div class="user">
			<!-- <i class="bi-people-fill me-1" id="user"></i> -->
			<img src="/static/assets/people.svg" width = 150px id="user"> 
		</div>
		
		<form action="" class="formulario" id="formulario">
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="usuario" class="formulario__label">Usuario</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="Usuario">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Debe identificarse con el perfil que tiene asignado.</p>
			</div>

			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
			</div>

			<!-- Grupo: Terminos y Condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					Olvidó tu contraseña?
				</label>
			</div>

			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					
                        <a class="formulario__checkbox" href="{{ url_for('registroUsuario') }}" ><i class="bi bi-person-fill"></i></a>
					Eres nuevo?
				</label>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor ingrese sus credenciales. </p>
			</div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Ingresar</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Bienvenido!</p>
			</div>
		</form>
	</main>
        
{% endblock %}